/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: inherit;
}
/* end css reset */




/* facil 1 */

.facil-1 {
    display: flex;
    flex-flow: row wrap;
    padding: 48px 48px;

}

.facil-1__block {
    display: flex;
    flex-flow: row wrap;
    max-width: 920px;
    padding: 16px 16px;
    margin: 0 auto;
    gap: 48px;
    align-items: center;
}

.facil-1__image {
    flex: 1 1 300px;
}

.facil-1__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 300px;
    gap: 16px;
    padding: 16px;
    align-items: start;
}

/* /facil 1 */





/* facil 2 */

.facil-2 {
display: flex;
flex-flow: row wrap;
padding: 48px 48px; 
}

.facil-2__container {
display: flex;
flex-flow: row wrap;
padding: 16px 16px;
gap: 16px;
max-width: 920px;
align-items: center;
margin: 0 auto;
}

.facil-2__blocks {
display: flex;
flex-flow: column nowrap;
flex: 1 1 100px;
padding: 16px;
gap: 16px;
}

/* facil 2 */